<!-- NAVBAR MEGA MENU) -->
<app-navbar></app-navbar>


<!-- BANNER HERO (DESKTOP) -->
<div class="banner-hero    desktop-screen-hidden-if-mobile">
  
  <div class="grid grid-rows-1 gap-0 h-full items-center">
    <div class="text-center text-white">
      <p class="lg:text-5xl md:text-3xl" style="font-family: MontserratSMBLD;">Future Smart Retail Solutions</p>
      <!-- <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">Bangun hubungan yang langgeng dengan solusi layanan<br>pelanggan kami yang lengkap.</p> -->
    </div>
  </div>

</div>

<!-- BANNER HERO (MOBILE) -->
<div class="lg:hidden md:hidden">
  <div class="banner-hero-mobile">

    <div class="grid grid-rows-1 gap-0 px-2 h-full items-center">
      <div class="text-center text-white">
        <p class="text-3xl" style="font-family: MontserratSMBLD;">Future Smart Retail Solutions</p>
        <!-- <p class="text-base" style="font-family: MontserratMDM;">Bangun hubungan yang langgeng dengan solusi layanan pelanggan kami yang lengkap.</p> -->
      </div>
    </div>
    
  </div>
</div>



<!-- CLOUD BASED DIGITAL SIGNAGE (DESKTOP) -->
<section id="digital-signage" class="scroll-target-digital-signage">
  <div class="desktop-screen-hidden-if-mobile">

    <div class="flex flex-col my-24 px-24">
      <p class="lg:text-5xl md:text-xl sm:text-base text-center gradient-text-digital-signage" style="font-family: MontserratSMBLD; color: #013A63;">Cloud-based Digital Signage</p>
      <p class="lg:text-base md:text-sm sm:text-xs text-center " style="font-family: MontserratSMBLD; color: #616161;">
        {{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-HEADLINE" | translate }}
      </p>
    </div>

    <div class="flex flex-row px-24 gap-24">

      <div class="basis-1/2">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/cloud-based-digital-signage-image.avif" alt="Cloud-based Digital Signage Image" class="lg:w-full md:w-full sm:w-full h-full rounded-xl">
      </div>

      <div class="lg:basis-1/2">
        <p class="lg:text-3xl md:text-2xl sm:text-lg" style="font-family: MontserratSMBLD;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC1-a" | translate }}</p>
        <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
          {{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC1-b" | translate }}
        </p>

        <br><br>

        <p class="lg:text-3xl md:text-2xl sm:text-lg" style="font-family: MontserratSMBLD;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC2-a" | translate }}</p>
        <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
          {{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC2-b" | translate }}
        </p>

        <br><br>

        <p class="lg:text-3xl md:text-2xl sm:text-lg" style="font-family: MontserratSMBLD;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC3-a" | translate }}</p>
        <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
          {{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC3-b" | translate }}
        </p>
      </div>

    </div>

  </div>
</section>

<!-- CLOUD BASED DIGITAL SIGNAGE (MOBILE) -->
<div class="lg:hidden md:hidden">

  <div class="flex flex-col my-10 px-2 gap-0">
    <p class="text-3xl text-center gradient-text-digital-signage-m" style="font-family: MontserratBLD; color: #013A63;">Cloud-based Digital Signage</p>
    <p class="text-sm text-center" style="font-family: MontserratMDM; color: #616161;">
      {{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-HEADLINE" | translate }}
    </p>

    <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/cloud-based-digital-signage-image.avif" alt="Cloud-based Digital Signage Image" class="w-full h-44 mt-4 rounded-xl">

    <div class="grid grid-rows-3 mt-4">
      <div class="flex flex-col">
        <p class="text-xl" style="font-family: MontserratSMBLD; color: #013A63;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC1-a" | translate }}</p>
        <p class="text-base text-black" style="font-family: MontserratREG; color: #7a7a7a;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC1-b" | translate }}</p>
      </div>

      <div class="flex flex-col">
        <p class="text-xl" style="font-family: MontserratSMBLD; color: #013A63;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC2-a" | translate }}</p>
        <p class="text-base text-black" style="font-family: MontserratREG; color: #7a7a7a;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC1-b" | translate }}</p>
      </div>

      <div class="flex flex-col">
        <p class="text-xl" style="font-family: MontserratSMBLD; color: #013A63;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC3-a" | translate }}</p>
        <p class="text-base text-black" style="font-family: MontserratREG; color: #7a7a7a;">{{ "SRD-CLOUD-BASED-DIGITAL-SIGNAGE-DESC3-b" | translate }}</p>
      </div>
    </div>

  </div>

</div>



<!-- CLOUD BASED LAST FORMAT LED VIDEOTRON (old) -->
<!-- <div class="cloud-based-last-format-led-videotron my-24 border border-2 border-transparent">

  <div class="text-center text-white px-24 lg:mt-28 md:mt-24">
    <p class="lg:text-5xl md:text-4xl" style="font-family: MontserratSMBLD;">Cloud based last format led videotron</p>
    <p class="lg:text-base md:text-sm" style=" font-family: MontserratSMBLD;">
      LED Videotron memfasilitasi penyampaian pesan baik itu berupa gambar yang bergerak, teks, dan grafis dengan resolusi tinggi
      sehingga pesan dapat terlihat dinamis, kentara, dan mampu menarik perhatian di tengah khalayak. Pengguna LED Videotron
      dapat digunakan oleh berbagai bidang dengan berbagai tujuan:
    </p>
  </div>


  <div class="flex flex-col gap-6 lg:mt-14 md:mt-10">
    <div class="flex flex-row gap-6 px-24">

      <div class="relative basis-1/3 px-5 py-5 rounded-xl">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-5 -translate-x-5" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <p class="lg:text-xl md:text-lg text-white" style="font-family: MontserratSMBLD;">Iklan Pemasaran</p>
        <p class="lg:text-sm text-white" style="font-family: MontserratLGT;">
          LED Videotron mampu memikat mata audiens
          dengan tampilan yang dinamis dan kentara
          sehingga pesan berupa iklan dan promosi dapat
          disampaikan secara efektif dan berdampak pada
          peningkatan brand awareness.
        </p>
      </div>

      <div class="relative basis-1/3 px-5 py-5 rounded-xl">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-5 -translate-x-5" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <p class="lg:text-xl md:text-lg text-white" style="font-family: MontserratSMBLD;">Komunikasi Publik</p>
        <p class="lg:text-sm text-white" style="font-family: MontserratLGT;">
          Selain iklan pemasaran, LED Videotron mampu
          dijadikan sarana untuk komunikasi publik bagi
          instansi pemerintah untuk menyampaikan informasi
          umum maupun peringatan kepada masyarakat
          seperti peringatan darurat dan informasi perkiraan
          cuaca.
        </p>
      </div>

      <div class="relative basis-1/3 px-5 py-5 rounded-xl">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-5 -translate-x-5" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <p class="lg:text-xl md:text-lg text-white" style="font-family: MontserratSMBLD;">Hiburan</p>
        <p class="lg:text-sm text-white" style="font-family: MontserratLGT;">
          LED Videotron dapat digunakan untuk industri
          hiburan dengan tujuan untuk menghibur audiens
          maupun menyiarkan pertunjukan secara
          ulang maupun konten-konten khusus.
        </p>
      </div>

    </div>


    <div class="flex flex-row gap-6 px-24 justify-center">

      <div class="relative basis-1/3 px-5 py-11 rounded-xl">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-11 -translate-x-5" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <p class="lg:text-xl md:text-lg text-white" style="font-family: MontserratSMBLD;">Panduan dan Navigasi</p>
        <p class="lg:text-sm text-white" style="font-family: MontserratLGT;">
          LED Videotron dapat dijadikan panduan dan
          navigasi di lokasi-lokasi besar seperti pusat
          perbelanjaan dan bandara.
        </p>
      </div>

      <div class="relative basis-1/3 px-5 py-11 rounded-xl">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-11 -translate-x-5" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <p class="lg:text-xl md:text-lg text-white" style="font-family: MontserratSMBLD;">Interaksi & Keterlibatan Audiens</p>
        <p class="lg:text-sm text-white" style="font-family: MontserratLGT;">
          Dengan tampilan visual yang dinamis dan
          kentara, LED Videotron mampu menarik audiens
          untuk dapat berinteraksi sehingga mendorong
          keterlibatan audiens.
        </p>
      </div>

    </div>
  </div>

</div> -->


<!-- CLOUD BASED LAST FORMAT LED VIDEOTRON (DESKTOP) -->
<section id="videotron" class="scroll-target-videotron">
  <div class="cloud-based-last-format-led-videotron-new my-24     desktop-screen-hidden-if-mobile">

    <div class="text-center text-white px-24 py-24">
      <p class="lg:text-5xl md:text-4xl" style="font-family: MontserratSMBLD;">Cloud Based LED Videotron</p>
      <p class="lg:text-base md:text-sm" style=" font-family: MontserratSMBLD;">
        {{ "SRD-CLOUD-BASED-VIDEOTRON-DESC" | translate }}
      </p>
    </div>


    <div id="indicators-carousel" class="relative w-10/12 px-24" data-carousel="static" style="margin: 0 auto; "> <!--pt-->
      <!-- Carousel wrapper -->
      <div class="relative overflow-hidden rounded-lg lg:h-72 md:h-56">
          
          <!-- slide 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
            <div class="grid grid-cols-3 gap-0">

                <div class="col-span-1" style="height: 285px;">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/videotron-image.avif" alt="" class="h-full w-full rounded-l-xl">
                </div>

                <div class="relative col-span-2 px-7 py-16">
                  <div class="absolute w-full h-full p-10 rounded-r-xl text-left text-white -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
                  <p class="lg:text-xl text-white h-full" style="font-family: MontserratMDM; margin: 0px 0;">
                    {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX1-a" | translate }}<br>
                    <span class="lg:text-sm" style="font-family: MontserratLGT;">
                      {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX1-b" | translate }}
                    </span>
                  </p>
                </div>
              
            </div>
          </div>


          <!-- slide 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="grid grid-cols-3 gap-0">

                <div class="col-span-1" style="height: 285px;">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/videotron-image.avif" alt="" class="h-full w-full rounded-l-xl">
                </div>

                <div class="relative col-span-2 px-7 py-16">
                  <div class="absolute w-full h-full p-10 rounded-r-xl text-left text-white -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
                  <p class="lg:text-xl text-white h-full" style="font-family: MontserratMDM; margin: 0px 0;">
                    {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX2-a" | translate }}<br>
                    <span class="lg:text-sm" style="font-family: MontserratLGT;">
                      {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX2-b" | translate }}
                    </span>
                  </p>
                </div>
              
            </div>
          </div>


          <!-- slide 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="grid grid-cols-3 gap-0">

                <div class="col-span-1" style="height: 285px;">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/videotron-image.avif" alt="" class="h-full w-full rounded-l-xl">
                </div>

                <div class="relative col-span-2 px-7 py-16">
                  <div class="absolute w-full h-full p-10 rounded-r-xl text-left text-white -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
                  <p class="lg:text-xl text-white h-full" style="font-family: MontserratMDM; margin: 0px 0;">
                    {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX3-a" | translate }}<br>
                    <span class="lg:text-sm" style="font-family: MontserratLGT;">
                      {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX3-b" | translate }}
                    </span>
                  </p>
                </div>
              
            </div>
          </div>

          <!-- slide 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="grid grid-cols-3 gap-0">

                <div class="col-span-1" style="height: 285px;">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/videotron-image.avif" alt="" class="h-full w-full rounded-l-xl">
                </div>

                <div class="relative col-span-2 px-7 py-16">
                  <div class="absolute w-full h-full p-10 rounded-r-xl text-left text-white -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
                  <p class="lg:text-xl text-white h-full" style="font-family: MontserratMDM; margin: 30px 0;">
                    {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX4-a" | translate }}<br>
                    <span class="lg:text-sm" style="font-family: MontserratLGT;">
                      {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX4-b" | translate }}
                    </span>
                  </p>
                </div>
              
            </div>
          </div>

          <!-- slide 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="grid grid-cols-3 gap-0">

                <div class="col-span-1" style="height: 285px;">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/videotron-image.avif" alt="" class="h-full w-full rounded-l-xl">
                </div>

                <div class="relative col-span-2 px-7 py-16">
                  <div class="absolute w-full h-full p-10 rounded-r-xl text-left text-white -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
                  <p class="lg:text-xl text-white h-full" style="font-family: MontserratMDM; margin: 30px 0;">
                    {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX5-a" | translate }}<br>
                    <span class="lg:text-sm" style="font-family: MontserratLGT;">
                      {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX5-b" | translate }}
                    </span>
                  </p>
                </div>
              
            </div>
          </div>
          
      </div>

      <!-- Slider indicators -->
      <!-- <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
          <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      </div> -->

      <!-- Slider controls -->
      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full  group-focus:outline-none"> <!--bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70-->
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full  group-focus:outline-none"> <!--bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70-->
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>

    </div> <!--end of carousel-->

  </div>

</section>


<!-- CLOUD BASED LAST FORMAT LED VIDEOTRON (MOBILE) -->
<div class="lg:hidden md:hidden">
  <div class="cloud-based-last-format-led-videotron-bg-m">

    <div class="text-center text-white px-2 pt-10">
      <p class="text-3xl" style="font-family: MontserratBLD;">Cloud Based LED Videotron</p>
      <p class="text-sm" style=" font-family: MontserratREG;">
        {{ "SRD-CLOUD-BASED-VIDEOTRON-DESC" | translate }}
      </p>
    </div>

    <div id="controls-carousel" class="relative w-full px-2 mt-10 pb-10" data-carousel="static">   
      <div class="relative h-56 overflow-hidden rounded-lg">
          
          <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
            <div class="relative px-7 py-3">
              <div class="absolute w-full h-80 rounded-xl -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
              <p class="text-2xl text-white" style="font-family: MontserratMDM;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX1-a" | translate }}
              </p>
              <p class="text-sm text-white" style="font-family: MontserratLGT;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX1-b" | translate }}
              </p>
            </div>
          </div>
          
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="relative px-7 py-3">
              <div class="absolute w-full h-80 rounded-xl -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
              <p class="text-2xl text-white" style="font-family: MontserratMDM;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX2-a" | translate }}
              </p>
              <p class="text-sm text-white" style="font-family: MontserratLGT;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX2-b" | translate }}
              </p>
            </div>
          </div>
          
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="relative px-7 py-2">
              <div class="absolute w-full h-80 rounded-xl -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
              <p class="text-2xl text-white" style="font-family: MontserratMDM;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX3-a" | translate }}
              </p>
              <p class="text-sm text-white" style="font-family: MontserratLGT;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX3-b" | translate }}
              </p>
            </div>
          </div>

          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="relative px-7 py-14">
              <div class="absolute w-full h-80 rounded-xl -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
              <p class="text-2xl text-white" style="font-family: MontserratMDM;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX4-a" | translate }}
              </p>
              <p class="text-sm text-white" style="font-family: MontserratLGT;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX4-b" | translate }}
              </p>
            </div>
          </div>

          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="relative px-7 py-2">
              <div class="absolute w-full h-80 rounded-xl -translate-y-16 -translate-x-7" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
              <p class="text-2xl text-white" style="font-family: MontserratMDM;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX5-a" | translate }}
              </p>
              <p class="text-sm text-white" style="font-family: MontserratLGT;">
                {{ "SRD-CLOUD-BASED-VIDEOTRON-BOX5-b" | translate }}
              </p>
            </div>
          </div>

      </div>
      
      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-0 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10">
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-0 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10">
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>

    </div>

  </div>
</div>




<!-- AI PROFILING (DESKTOP) -->
<section id="ai" class="scroll-target-ai">

  <div class="px-24    desktop-screen-hidden-if-mobile">
    <div class="ai-profiling rounded-xl">

      <div class="text-white text-center px-24">
        <p class="lg:text-5xl md:text-3xl pt-16" style="font-family: MontserratSMBLD;">AI Profiling</p>
        <p class="lg:text-base md:text-xs" style="font-family: MontserratMDM;">
          {{ "SRD-AI-PROFILING-SUBHEADLINE" | translate }}
        </p>
      </div>

      <div class="grid grid-cols-3 gap-6 px-24 mt-6">

        <div class="relative text-center text-white py-16 px-8 h-5/6 rounded-xl">
          <div class="absolute w-full h-full rounded-xl text-white -translate-y-16 -translate-x-8" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
        
          <p class="lg:text-xl md:text-base" style="font-family: MontserratSMBLD;">{{ "SRD-AI-PROFILING-BOX1-a" | translate }}</p>
          <p class="text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-AI-PROFILING-BOX1-b" | translate }}
          </p>
        </div>

        <div class="relative text-center text-white py-16 px-8 h-5/6 rounded-xl">
          <div class="absolute w-full h-full rounded-xl text-white -translate-y-16 -translate-x-8" style="background-color: #013A63; mix-blend-mode: overlay;"></div>

          <p class="lg:text-xl md:text-base" style="font-family: MontserratSMBLD;">{{ "SRD-AI-PROFILING-BOX2-a" | translate }}</p>
          <p class="text-sm pt-2" style="font-family: MontserratLGT;">
            {{ "SRD-AI-PROFILING-BOX2-b" | translate }}
          </p>
        </div>

        <div class="relative text-center text-white py-16 px-8 h-5/6 rounded-xl">
          <div class="absolute w-full h-full rounded-xl text-white -translate-y-16 -translate-x-8" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
            
          <p class="lg:text-xl md:text-base" style="font-family: MontserratSMBLD;">{{ "SRD-AI-PROFILING-BOX3-a" | translate }}</p>      
          <p class="lg:text-sm pt-2" style="font-family: MontserratLGT;">
            {{ "SRD-AI-PROFILING-BOX3-b" | translate }}
          </p>
        </div>
      </div>

    </div>
  </div>

</section>


<!-- AI PROFILING (MOBILE) -->
<div class="lg:hidden md:hidden">

  <div class="px-3 py-3">
    <div class="ai-profiling-bg-m rounded-xl">
      
      <div class="text-white text-center px-2 pt-10">
        <p class="text-3xl" style="font-family: MontserratBLD;">AI Profiling</p>
        <p class="text-sm" style="font-family: MontserratREG;">
          {{ "SRD-AI-PROFILING-SUBHEADLINE" | translate }}
        </p>
      </div>

      <div class="grid grid-rows-3 gap-0 mt-7 px-4 pb-7">

        <div class="relative text-center text-white py-3 px-2 h-40 rounded-xl">
          <div class="absolute w-full h-full rounded-xl text-white -translate-y-4 -translate-x-2" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
          <p class="text-base" style="font-family: MontserratSMBLD;">{{ "SRD-AI-PROFILING-BOX1-a" | translate }}</p>
          <p class="text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-AI-PROFILING-BOX1-b" | translate }}
          </p>
        </div>

        <div class="relative text-center text-white py-3 px-2 h-40 rounded-xl">
          <div class="absolute w-full h-full rounded-xl text-white -translate-y-4 -translate-x-2" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
          <p class="text-base" style="font-family: MontserratSMBLD;">{{ "SRD-AI-PROFILING-BOX2-a" | translate }}</p>
          <p class="text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-AI-PROFILING-BOX2-b" | translate }}
          </p>
        </div>

        <div class="relative text-center text-white py-2 px-2 h-44 rounded-xl">
          <div class="absolute w-full h-full rounded-xl text-white -translate-y-2 -translate-x-2" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
          <p class="text-base" style="font-family: MontserratSMBLD;">{{ "SRD-AI-PROFILING-BOX3-a" | translate }}</p>
          <p class="text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-AI-PROFILING-BOX3-b" | translate }}
          </p>
        </div>

      </div>


    </div>
  </div>

</div>





<!-- ELECTRONIC SHELF LABELS (DESKTOP) -->
<section id="esl" class="scroll-target-esl">
  <div class="ESL my-24     desktop-screen-hidden-if-mobile">

    <div class="text-white text-center pt-24 px-24">
      <p class="lg:text-5xl md:text-3xl" style="font-family: MontserratSMBLD;">
        Electronic Shelf Labels -<br>
        Cloud-Based Labeling
      </p>
      <p class="lg:text-sm md:text-xs px-8" style="font-family: MontserratMDM;">
        {{ "SRD-ESL-SUBHEADING" | translate }}
      </p>
    </div>


    <div class="grid grid-cols-2 gap-10 px-24 mt-16">

      <!-- left panel -->
      <div class="h-full">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/esl-image-replace.avif" alt="ESL Image" class="rounded-xl h-full">
      </div>

      <!-- right panel -->
      <div class="grid grid-rows-3 text-white gap-6 h-full">

        <div class="relative text-white rounded-xl p-10">
          <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
          <p class="lg:text-xl " style="font-family: MontserratSMBLD;">{{ "SRD-ESL-BOX1-a" | translate }}</p>
          <p class="lg:text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-ESL-BOX1-b" | translate }}
          </p>
        </div>

        <div class="relative text-white rounded-xl p-10">
          <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
          <p class="lg:text-xl " style="font-family: MontserratSMBLD;">{{ "SRD-ESL-BOX2-a" | translate }}</p>
          <p class="lg:text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-ESL-BOX2-b" | translate }}
          </p>
        </div>

        <div class="relative text-white rounded-xl p-10">
          <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
          <p class="lg:text-xl " style="font-family: MontserratSMBLD;">{{ "SRD-ESL-BOX3-a" | translate }}</p>
          <p class="lg:text-sm" style="font-family: MontserratLGT;">
            {{ "SRD-ESL-BOX3-b" | translate }}
          </p>
        </div>

      </div>

    </div>
  </div>

</section>


<!-- ELECTRONIC SHELF LABELS (MOBILE) -->
<div class="lg:hidden md:hidden">
  <div class="sme-bg-m">
    
    <div class="text-white text-center pt-10 px-2">
      <p class="text-3xl" style="font-family: MontserratBLD;">
        Electronic Shelf Labels
        Cloud-Based Labeling
      </p>
      <p class="text-sm px-2" style="font-family: MontserratREG;">
        {{ "SRD-ESL-SUBHEADING" | translate}}
      </p>
    </div>



    <div class="grid grid-rows-3 gap-0 mt-7 px-4 pb-7">

      <div class="">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/esl-image-replace.avif" alt="ESL Image" class="rounded-xl w-full h-40">
      </div>

      <div class="relative text-center text-white py-3 px-2 h-36 rounded-xl">
        <p class="text-base" style="font-family: MontserratSMBLD;">{{ "SRD-ESL-BOX1-a" | translate}}</p>
        <p class="text-sm" style="font-family: MontserratLGT;">
          {{ "SRD-ESL-BOX1-b" | translate}}
        </p>
      </div>

      <div class="relative text-center text-white py-3 px-2 h-36 rounded-xl">
        <p class="text-base" style="font-family: MontserratSMBLD;">{{ "SRD-ESL-BOX2-a" | translate}}</p>
        <p class="text-sm" style="font-family: MontserratLGT;">
          {{ "SRD-ESL-BOX2-b" | translate}}
        </p>
      </div>

      <div class="relative text-center text-white py-3 px-2 h-36 rounded-xl">
        <p class="text-base" style="font-family: MontserratSMBLD;">{{ "SRD-ESL-BOX3-a" | translate}}</p>
        <p class="text-sm" style="font-family: MontserratLGT;">
          {{ "SRD-ESL-BOX3-b" | translate}}
        </p>
      </div>
    
    </div>

  </div>
</div>



<!-- PLANOGRAPH ANALYTIC (Temporary Take Down) -->
<!-- <div class="flex flex-col lg:my-20 md:my-3 sm:my-0">
  <p class="lg:text-5xl md:text-xl sm:text-base text-center" style="font-family: MontserratSMBLD;">Planograph Analytic</p>
  <p class="text-center lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
    Planogram analytics adalah penggunaan analitik data untuk menganalisis dan mengoptimalkan penempatan produk di toko ritel.<br>
    Planogram analytics dapat digunakan untuk berbagai tujuan, seperti:
  </p>
</div>

<div class="flex flex-row px-24 gap-10">

  <div class="basis-1/2">
    <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/planograph-analytic-image.avif" alt="Planogram Analytic Image" class="lg:w-full md:w-full sm:w-full h-full rounded-xl">
  </div>

  <div class="lg:basis-1/2">
    <p class="lg:text-3xl md:text-2xl sm:text-lg" style="font-family: MontserratSMBLD;">Meningkatkan Penjualan</p>
    <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
      Planogram analytics dapat digunakan untuk meningkatkan penjualan<br>
      dengan menempatkan produk di lokasi paling strategis.
    </p>

    <br><br><br>

    <p class="lg:text-3xl md:text-2xl sm:text-lg" style="font-family: MontserratSMBLD;">Lebih Fleksibel</p>
    <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
      Cloud-based digital signage dapat digunakan untuk mengelola<br>
      perangkat digital signage yang tersebar di berbagai lokasi.
    </p>

    <br><br><br>

    <p class="lg:text-3xl md:text-2xl sm:text-lg" style="font-family: MontserratSMBLD;">Lebih Hemat Biaya</p>
    <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratMDM; color: #616161;">
      Cloud-based digital signage tidak memerlukan investasi yang besar<br>
      untuk perangkat keras dan perangkat lunak.
    </p>
  </div>

</div> -->




<!-- POS CUSTOMER CAM (Temporary Take Down) -->
<!-- <div class="flex items-start my-24">
  <img ngOptimizedImage loading="lazy" class="h-auto w-full" src="https://dmmrnd.id/img-dmm/pos-customer-cam-background.avif" alt="POS Customer Cam Background">

  <div class="absolute px-24 lg:my-24 md:my-14 min-w-full">
    <div class="lg:text-5xl md:text-3xl sm:text-xl text-white text-center" style="font-family: MontserratSMBLD;">POS Customer Cam</div>
    <div class="lg:text-base text-white text-center mt-5" style="font-family: MontserratMDM;">
      POS customer cam adalah kamera yang dipasang di titik penjualan (POS) untuk memantau dan menganalisis perilaku pelanggan.<br>
      POS customer cam dapat digunakan untuk berbagai tujuan, seperti:
    </div>
  </div>

  <div class="absolute flex flex-row gap-14 mt-28 items-center px-24 h-full">

    <div class="card rounded-xl media-query-pos">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pos-image-1.avif" alt="POS Image 1" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
      <div class="container text-white py-7 rounded-b-xl" style="background-color: rgba(19, 44, 83, 0.8);">
          <p class="lg:text-xl md:text-base px-7" style="font-family: MontserratSMBLD;">
            Melacak pergerakan<br> pelanggan di toko
          </p>
          <p class="lg:text-sm md:text-xs px-7" style="font-family: MontserratREG;">
            POS customer cam dapat digunakan untuk melacak
            pergerakan pelanggan di toko dan mengidentifikasi
            area-area yang paling banyak dikunjungi.<br>
            .
          </p>
      </div>
    </div>

    <div class="card rounded-xl media-query-pos">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pos-image-2.avif" alt="POS Image 1" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
      <div class="container text-white py-7 rounded-b-xl" style="background-color: rgba(19, 44, 83, 0.8);">
          <p class="lg:text-xl md:text-base px-7" style="font-family: MontserratSMBLD;">
            Mengukur efektivitas<br> kampanye promosi
          </p>
          <p class="lg:text-sm md:text-xs px-7" style="font-family: MontserratREG;">
            POS customer cam dapat digunakan untuk mengukur
            efektivitas kampanye promosi dengan melacak jumlah
            pelanggan yang melihat dan berinteraksi dengan
            materi promosi.
          </p>
      </div>
    </div>

    <div class="card rounded-xl media-query-pos">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pos-image-3.avif" alt="POS Image 1" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
      <div class="container text-white py-7 rounded-b-xl" style="background-color: rgba(19, 44, 83, 0.8);">
          <p class="lg:text-xl md:text-base px-7" style="font-family: MontserratSMBLD;">
            Meningkatkan pengalaman<br> pelanggan
          </p>
          <p class="lg:text-sm md:text-xs px-7" style="font-family: MontserratREG;">
            POS customer cam dapat digunakan untuk 
            meningkatkan pengalaman pelanggan dengan
            mengidentifikasi pelanggan yang membutuhkan
            bantuan dan memberikan layanan yang lebih personal.
          </p>
      </div>
    </div>

  </div>

</div> -->




<!-- SOUND DOME (DESKTOP) -->
<section id="sound-dome" class="scroll-target-sound-dome">
  <div class="flex flex-row px-24 gap-10 items-center       desktop-screen-hidden-if-mobile">

    <div class="lg:basis-1/2">
      <p class="lg:text-5xl md:text-3xl sm:text-xl gradient-text-sound-dome" style="font-family: MontserratSMBLD; color: #013A63;">Sound Dome</p>
      <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratSMBLD; color: #616161;">
        {{ "SRD-SOUND-DOME-SUBHEADING" | translate }}
      </p>
    </div>

    <div class="basis-1/2">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/srd-sound-dome-image-new.webp" alt="Sound Dome Image" class="lg:w-full md:w-full sm:w-full h-full rounded-xl">
    </div>

  </div>
</section>


<!-- SOUND DOME (MOBILE) -->
<div class="lg:hidden md:hidden">

  <div class="text-white text-center pt-10 px-2">
    <p class="text-3xl gradient-text-sound-dome" style="font-family: MontserratBLD; color: #013A63;">
      Sound Dome
    </p>
    <p class="text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
      {{ "SRD-SOUND-DOME-SUBHEADING" | translate }}
    </p>
  </div>

  <div class="px-2">
    <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/srd-sound-dome-image-new.webp" alt="Sound Dome Image" class="rounded-xl w-full">
  </div>

</div>




<!-- AR GAMIFICATION (DESKTOP) -->
<section id="ar-gamification" class="scroll-target-ar-gamification">
  <div class="flex flex-row px-24 mt-24 gap-10 items-center      desktop-screen-hidden-if-mobile">

    <div class="lg:basis-1/2">
      <p class="lg:text-5xl md:text-3xl sm:text-xl gradient-text-ar-gamification" style="font-family: MontserratSMBLD; color: #013A63;">AR Gamification</p>
      <p class="lg:text-base md:text-sm sm:text-xs" style="font-family: MontserratSMBLD; color: #616161;">
        {{ "SRD-AR-GAMIFICATION-SUBHEADING" | translate }}
      </p>

      <p class="font-thin media-query-ar-gamification" style="font-family: MontserratMDM; color: #616161;">
        <span class="lg:text-base" style="font-family: MontserratSMBLD; color: #013A63;">{{ "SRD-AR-GAMIFICATION-POINT1-a" | translate }}</span>
        {{ "SRD-AR-GAMIFICATION-POINT1-b" | translate }}
      </p>

      <p class="font-thin media-query-ar-gamification" style="font-family: MontserratMDM; color: #616161;">
        <span class="lg:text-base" style="font-family: MontserratSMBLD; color: #013A63;">{{ "SRD-AR-GAMIFICATION-POINT2-a" | translate }}</span>
        {{ "SRD-AR-GAMIFICATION-POINT2-b" | translate }}
      </p>

      <p class="font-thin media-query-ar-gamification" style="font-family: MontserratMDM; color: #616161;">
        <span class="lg:text-base" style="font-family: MontserratSMBLD; color: #013A63;">{{ "SRD-AR-GAMIFICATION-POINT3-a" | translate }}</span>
        {{ "SRD-AR-GAMIFICATION-POINT3-b" | translate }}
      </p>
    </div>

    <div class="basis-1/2">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/ar-gamification-image-2.avif" alt="AR Gamification" class="lg:w-full md:w-full sm:w-full h-full rounded-xl">
    </div>

  </div>
</section>


<!-- AR GAMIFICATION (MOBILE) -->
<div class="lg:hidden md:hidden">

  <div class="flex flex-col px-2 pt-10 gap-0 items-center text-center">
    <p class="text-3xl gradient-text-ar-gamification" style="font-family: MontserratBLD; color: #013A63;">AR Gamification</p>
    <p class="text-sm" style="font-family: MontserratREG; color: #616161;">
      {{ "SRD-AR-GAMIFICATION-SUBHEADING" | translate }}
    </p>
  </div>

  
  <div class="grid gap-0 mt-0 px-4 pb-10">

    <div class="text-center py-3 px-2">
      <p class="text-sm" style="font-family: MontserratLGT;">
        <span style="color: #013A63; font-weight:900;">{{ "SRD-AR-GAMIFICATION-POINT1-a" | translate }}</span>
        {{ "SRD-AR-GAMIFICATION-POINT1-b" | translate }}
      </p>

      <br>

      <p class="text-sm" style="font-family: MontserratLGT;">
        <span style="color: #013A63; font-weight:900;">{{ "SRD-AR-GAMIFICATION-POINT2-a" | translate }}</span>
        {{ "SRD-AR-GAMIFICATION-POINT2-b" | translate }}
      </p>

      <br>

      <p class="text-sm" style="font-family: MontserratLGT;">
        <span style="color: #013A63; font-weight:900;">{{ "SRD-AR-GAMIFICATION-POINT3-a" | translate }}</span>
        {{ "SRD-AR-GAMIFICATION-POINT3-b" | translate }}
      </p>
    </div>

    <div class="">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/ar-gamification-image-2.avif" alt="AR Gamification Image" class="rounded-xl w-full">
    </div>
  
  </div>


</div>



<!-- SME COMMERCE PLATFORM (DESKTOP) -->
<section id="sme" class="scroll-target-sme">
  <div class="sme-commerce-platform mt-24      desktop-screen-hidden-if-mobile">

    <div class="text-white text-center pt-24 px-24">
      <p class="lg:text-5xl md:text-3xl" style="font-family: MontserratSMBLD;">
        SME Commerce Platform
      </p>
      {{ "SRD-SME-SUBHEADLINE" | translate }}
    </div>


    <div class="grid grid-cols-2 gap-10 px-24 mt-10">

      <!-- left panel -->
      <div class="">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/srd-sme-image.jpg" alt="SME Image" class="lg:w-full md:w-full sm:w-full h-full rounded-xl">
      </div>

      <!-- right panel -->
      <div class="relative text-white rounded-xl">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-0 -translate-x-0" style="background-color: #013A63; mix-blend-mode: overlay;"></div>

        <div class="grid grid-rows-7 gap-4 p-14" style="font-family: MontserratREG;">
          <p class="lg:text-sm md:text-xs">
            {{ "SRD-SME-BOX1" | translate }}
          </p>

          <hr>

          <p class="lg:text-sm md:text-xs">
            {{ "SRD-SME-BOX2" | translate }}
          </p>

          <hr>

          <p class="lg:text-sm md:text-xs">
            {{ "SRD-SME-BOX3" | translate }}
          </p>

          <hr>

          <p class="lg:text-sm md:text-xs">
            {{ "SRD-SME-BOX4" | translate }}
          </p>
        </div>

      </div>

    </div>

  </div>
</section>


<!-- SME COMMERCE PLATFORM (MOBILE) -->
<div class="lg:hidden md:hidden">
  <div class="sme-commerce-platform-bg-m">

    <div class="text-white text-center pt-10 px-2">
      <p class="text-3xl" style="font-family: MontserratBLD;">
        SME Commerce Platform
      </p>
      <p class="text-sm" style="font-family: MontserratREG;">
        {{ "SRD-SME-SUBHEADLINE" | translate }}
      </p>
    </div>

    <div class="px-4">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/srd-sme-image.jpg" alt="SME Image" class="w-full rounded-xl items-center">
    </div>

    <div class="flex flex-col gap-0 mt-7 px-4 pb-5">

      <div class="relative text-center text-white py-3 px-2 rounded-xl">
        <div class="absolute w-full h-full rounded-xl text-white -translate-y-4 -translate-x-2" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
        <p class="text-sm" style="font-family: MontserratREG;">
          {{ "SRD-SME-BOX1" | translate }}
        </p>

        <hr>

        <p class="text-sm" style="font-family: MontserratREG;">
          {{ "SRD-SME-BOX2" | translate }}
        </p>

        <hr>

        <p class="text-sm" style="font-family: MontserratREG;">
          {{ "SRD-SME-BOX3" | translate }}
        </p>

        <hr>

        <p class="text-sm" style="font-family: MontserratREG;">
          {{ "SRD-SME-BOX4" | translate }}
        </p>
      </div>
      
    </div>

  </div>
</div>




<!-- UNDUH PRESENTASI -->
<!-- <div class="flex justify-center items-center">
  <img ngOptimizedImage loading="lazy" class="h-auto w-full" src="https://dmmrnd.id/img-dmm/unduh-presentasi-background.avif" alt="Unduh Presentasi">

  <div class="absolute px-10 mx-0 min-w-full flex flex-col lg:py-11 md:py-16 sm:py-9">
    <p class="lg:text-5xl md:text-3xl sm:text-xl text-center gradient-text-unduh-prestasi" style="font-family: MontserratSMBLD; color: #013A63;">Unduh Presentasi</p>    
    <p class="lg:text-base md:text-sm sm:text-xs text-center text-black" style="font-family: MontserratSMBLD;">
      Solusi kami melampaui e-commerce konvensional, menawarkan fitur-fitur cerdas dan teknologi mutakhir untuk meningkatkan<br>
      etalase digital Anda dan mendorong kesuksesan yang tak tertandingi dalam lanskap eRetail yang kompetitif.
    </p>

    <div class="container px-10 mx-0 min-w-full flex flex-col items-center mt-5">
      <button class="btn-grad text-base hover:text-black py-2 px-4 w-48 h-12 rounded-lg items-center">
          <div style="margin: 0 auto; font-family: MontserratSMBLD;">Unduh Sekarang</div>
      </button>
    </div>
  </div> 
  
</div> -->


<!-- HUBUNGI KAMI or CONTACT US -->
  <app-contact-us></app-contact-us>

<!-- FOOTER -->
  <app-footer></app-footer>



  