<div class="consumer-business     desktop-screen-hidden-if-mobile mobile-border">
    
  <!-- HEADLINE TEXT -->
  <div class="lg:text-5xl md:text-3xl sm:text-xl text-center lg:mt-24 md:mt-11 px-24 gradient-text" style="font-family: MontserratSMBLD; color: #013A63;">{{ "CB-HEADLINE" | translate }}</div>
  <div class="lg:text-base md:text-sm sm:text-xs text-center mt-3 px-24" style="font-family: MontserratREG;">
    {{ "CB-SUBHEADLINE" | translate }}
  </div>


  <!-- CARDS -->
  <div class="flex flex-row gap-14 mt-20" style="padding-left: 5rem; padding-right: 5rem;">
    <!-- card 1 -->
    <div class="card rounded-xl" style="width: 50%;">
      <a href="http://www.sruputcafe.id/#/" target="_blank">
        <div class="absolute h-full w-full rounded-xl boxy"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sruputcafe-img.avif" alt="sruputcafe-img" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sruputcafe-logo.avif" alt="sruputcafe-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Sruput Cafe</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD1" | translate }}
          </p> 
        </div>
      </a>

    </div>

    <!-- card 2 -->
    <div class="card rounded-xl" style="width: 50%;">
      <a href="https://chatfoto.id" target="_blank">
        <div class="absolute h-full w-full rounded-xl boxy"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/chatfoto-img.avif" alt="chatfoto-img" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/chatfoto-logo.avif" alt="chatfoto-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Chatfoto</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD2" | translate }}
          </p> 
        </div>
      </a>

    </div>
  </div>
  
  <!-- card 3 -->
  <div class="flex flex-row gap-14" style="padding-left: 5rem; padding-right: 5rem; margin-top: 60px;">
    <div class="card rounded-xl" style="width: 50%;">
      <a href="https://voltaindonesia.com" target="_blank">
        <div class="absolute h-full w-full rounded-xl boxy"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/CB-volta-image.avif" alt="Volta Image" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/volta-logo.avif" alt="volta-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Volta</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD3" | translate }}
          </p>
        </div>
      </a>
      
    </div>

    <!-- card 4 -->
    <div class="card rounded-xl" style="width: 50%;">
      <a href="https://esportsacademy.id" target="_blank">
        <div class="absolute h-full w-full rounded-xl boxy"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/CB-eaid-image.avif" alt="EAID Image" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/eaid-logo.avif" alt="eaid-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Esports</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD4" | translate }}
          </p>
        </div>
      </a>

    </div>
  </div>
  
</div> <!--End of consumer business class-->


<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->


<!-- RESPONSIVE MOBILE SCREEN -->
<div class="lg:hidden md:hidden     mobile-border">

  <!-- headline text -->
  <div class="text-lg text-center px-3 pt-10 gradient-text" style="font-family: MontserratSMBLD; color: #013A63;">{{ "CB-HEADLINE" | translate }}</div>
  <div class="text-sm text-center mt-1 px-3" style="font-family: MontserratREG;">
    {{ "CB-SUBHEADLINE" | translate }}
  </div>


  <!-- cards box -->
  <div class="flex flex-col gap-3 mt-5 px-3 py-5">

    <!-- card 1 -->
    <div class="card rounded-xl" style="width: 100%;">
      <a href="http://www.sruputcafe.id/#/" target="_blank">
        <div class="absolute h-full w-full rounded-xl"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sruputcafe-img.avif" alt="sruputcafe-img" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sruputcafe-logo.avif" alt="sruputcafe-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Sruput Cafe</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD1" | translate }}
          </p> 
        </div>
      </a>

    </div>

    <!-- card 2 -->
    <div class="card rounded-xl" style="width: 100%;">
      <a href="https://chatfoto.id" target="_blank">
        <div class="absolute h-full w-full rounded-xl"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/chatfoto-img.avif" alt="chatfoto-img" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/chatfoto-logo.avif" alt="chatfoto-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Chatfoto</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD2" | translate }}
          </p> 
        </div>
      </a>
    </div>

    
  <div class="flex flex-col gap-3 mt-0 px-0">

    <!-- card 3 -->
    <div class="card rounded-xl" style="width: 100%;">
      <a href="https://voltaindonesia.com" target="_blank">
        <div class="absolute h-full w-full rounded-xl"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/CB-volta-image.avif" alt="Volta Image" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/volta-logo.avif" alt="volta-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Volta</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD3" | translate }}
          </p>
        </div>
      </a>
      
    </div>

    <!-- card 4 -->
    <div class="card rounded-xl" style="width: 100%;">
      <a href="https://esportsacademy.id" target="_blank">
        <div class="absolute h-full w-full rounded-xl"></div>

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/CB-eaid-image.avif" alt="EAID Image" style="width:100%; margin: auto; translate: 0px 0px; border-radius: 10px 10px 0 0;">
        <div class="px-7 py-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/eaid-logo.avif" alt="eaid-logo">
          <p class="lg:text-3xl md:text-xl" style="font-family: MontserratSMBLD; color: #013A63;">Esports Academy ID</p>
          <p class="lg:text-sm" style="font-family: MontserratREG; color: #7a7a7a;">
            {{ "CB-CARD4" | translate }}
          </p>
        </div>
      </a>

    </div>
  </div>

  </div>


</div>