<section id="investor-relation" class="scroll-target-investor-relation">
  <div class="investor-relation     desktop-screen-hidden-if-mobile mobile-border">

    <div class="px-24 py-28 h-full">
      <p class="lg:text-5xl md:text-3xl text-white" style="font-family: MontserratSMBLD;">{{ "IR-HEADLINE" | translate }}</p>
      <p class="lg:text-xl md:text-base text-white" style="font-family: MontserratREG;">
        {{ "IR-SUBHEADLINE" | translate }}
      </p>
   
      <a href="/investor-relation-page" target="_blank">
        <button class="btn-ir py-2 px-1 w-36 h-11 mt-6 rounded-lg">
          <span class="lg:text-base text-sm" style="font-family: MontserratMDM;">{{ "IR-BUTTON" | translate }}</span>
        </button>
      </a>
    </div>
    
  </div>
</section>


<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->


<!-- RESPONSIVE MOBILE SCREEN -->
<div class="lg:hidden md:hidden">
  <div class="investor-relation-background">

    <div class="px-3 pt-10 h-full">

      <!-- headline text -->
      <p class="text-lg text-white" style="font-family: MontserratSMBLD;">{{ "IR-HEADLINE" | translate }}</p>
      <p class="text-sm text-white" style="font-family: MontserratREG;">
        {{ "IR-SUBHEADLINE" | translate }}
      </p>

      <!-- button -->
      <a href="/investor-relation-page" target="_blank">
        <button class="btn-ir-mobile py-2 px-1 w-32 h-10 mt-2 rounded-lg">
          <span class="text-sm" style="font-family: MontserratMDM;">{{ "IR-BUTTON" | translate }}</span>
        </button>
      </a>

    </div>

  </div>
</div>