<!-- 
<app-navbar></app-navbar>

<div class="container pt-44 pb-14">
    <div class="text-center">
        <p class="text-2xl" style="font-family: MontserratBLD;">{{title}}</p>
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="middle" width="100%">
                    <p></p>
                    <a href="../../../../assets/docs/news/{{pdf}}">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            View File
                        </button>
                    </a> 
                    <p></p>
                    <iframe src="../../../../assets/docs/news/{{pdf}}"
                        >
                        This browser does not support PDFs. Please download the PDF reader to
                        view  
                        it<br>
                        <a href="https://get.adobe.com/reader/">Download Adobe Reader</a>
                    </iframe>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- NAVBAR -->
<app-navbar></app-navbar>

<div class="container pt-44 pb-14">
    <div class="text-center">
        <p class="lg:text-2xl lg:px-56" style="font-family: MontserratBLD;">{{title}}</p>
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="middle" width="100%">
                    <p></p>
                    <!-- <a href="../../../../assets/docs/news/{{pdf}}"> -->
                    <a href="https://dmmrnd.id/img-dmm/docs/news/{{pdf}}">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            View File
                        </button>
                    </a>
                    <p></p>
                    <!-- <iframe src="../../../../assets/docs/news/{{pdf}}"
                        style="border:1px solid #acbccc; padding:1px; background:#ffffff; width:95%; max-width:500px; height:530px">
                        This browser does not support PDFs. Please download the PDF reader to
                        view
                        it<br>
                        <a href="https://get.adobe.com/reader/">Download Adobe Reader</a>
                    </iframe> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>