<section id="contact-us">

  <!-- CONTACT US COMPLETE -->
  <!-- <div class="hubungi-kami">
    <div class="grid grid-cols-2 gap-4 h-full items-center">

      
      <div class="text-white pl-24">
        <p class="lg:text-5xl md:text-2xl text-white" style="font-family: MontserratSMBLD;">Hubungi Kami</p>

        <div class="py-10">

          <div class="grid grid-rows-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-buildings-fill" viewBox="0 0 16 16">
              <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
            </svg>
            <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">PT Digital Mediatama Maxima Tbk.</p>
            <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">
              Mangkuluhur City Tower One 18th Floor<br>
              Jl. Jend. Gatot Subroto Kav. 1-3 Jakarta<br>
              Selatan, DKI Jakarta 12930 Indonesia
            </p>
          </div>

          <div class="grid grid-rows-1 mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
            </svg>
            <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">Email Us</p>
            <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">investor.relation@dmmgroup.id</p>
          </div>

          <div class="grid grid-rows-1 mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
            </svg>
            <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">Call Us</p>
            <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">+62 21 27883335</p>
          </div>

        </div>

      </div>


      
      <div class="text-white pr-24">

        <form action="">
          <div class="grid grid-rows-3 gap-0">

            <div class="grid grid-cols-2 gap-4">
              <div class="">
                <label for="text" class="text-white lg:text-base md:text-sm" style="font-family: MontserratLGT;">Nama</label>
                <input type="text" id="text" class="lg:text-base md:text-sm text-black w-full rounded-lg" placeholder="Masukan Nama" style="font-family: MontserratLGT;" required>
              </div>

              <div class="">
                <label for="text" class="text-white lg:text-base md:text-sm" style="font-family: MontserratLGT;">Email</label>
                <input type="text" id="text" class="lg:text-base md:text-sm text-black w-full rounded-lg" placeholder="example@mail.com" style="font-family: MontserratLGT;" required>
              </div>
            </div>

            <div class="grid grid-cols-1">
              <div class="col-span-2 ">
                <label for="text" class="text-white lg:text-base md:text-sm dark:text-white">Subjek</label>
                <input type="text" id="text" class="lg:text-base md:text-sm text-black rounded-lg w-full" placeholder="Masukan Subjek" style="font-family: MontserratLGT;" required>
              </div>
            </div>

            <div class="grid grid-cols-1">
              <div class="col-span-2">
                <label for="message" class="text-white lg:text-base md:text-sm dark:text-white">Pesan</label>
                <textarea id="message" rows="1" class="w-full h-24  lg:text-base md:text-sm text-black rounded-lg" placeholder="Masukan Pesan" style="font-family: MontserratLGT;"></textarea>
              </div>
            </div>

            <div class="grid grid-cols-1 mt-3">
              <div class="col-span-1 text-white">
                <button type="submit" class="lg:text-base md:text-sm text-center rounded-lg px-4 py-2.5 hover:text-black btn-cu" style="font-family: MontserratMDM;">Kirim Pesan</button>
              </div>
            </div>
          
          </div>
        </form>
        
      </div>

    </div>
  </div> -->



  <!-- CONTACT US HALF -->
  <div class="hubungi-kami   desktop-screen-hidden-if-mobile mobile-border">

    <!-- <div class="grid grid-rows-2 gap-0 h-full text-white" style="border: 2px solid blue;">
 
      <p class="lg:text-5xl md:text-2xl text-white pl-24 pt-24" style="font-family: MontserratSMBLD; border: 2px solid red;">{{ "CONTACT-US-HEADLINE" | translate }}</p>

      <div class="grid grid-cols-3 gap-16 h-full items-center px-24 text-white">
        
        <div class="grid grid-rows-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-buildings-fill" viewBox="0 0 16 16">
            <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">PT Digital Mediatama Maxima Tbk.</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">
            Mangkuluhur City Tower One 18th Floor<br>
            Jl. Jend. Gatot Subroto Kav. 1-3 Jakarta<br>
            Selatan, DKI Jakarta 12930 Indonesia
          </p>
        </div>

        <div class="grid grid-rows-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-EMAIL" | translate }}</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">corporate@dmmgroup.id</p>
        </div>

        <div class="grid grid-rows-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-CALL-NEW"  | translate }}</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">+62 21 27883335</p>
        </div>
      </div>

    </div> -->



    <div class="flex flex-row gap-24 h-full px-24 items-center justify-between">

      <div class="text-white text-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-buildings-fill" viewBox="0 0 16 16">
          <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
        </svg>
        <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">PT Digital Mediatama Maxima Tbk.</p>
        <p class="lg:text-base md:text-sm" style="font-family: MontserratLGT;">
          Mangkuluhur City Tower One 18th Floor<br>
          Jl. Jend. Gatot Subroto Kav. 1-3 Jakarta<br>
          Selatan, DKI Jakarta 12930 Indonesia
        </p>
      </div>

      <div class="text-white text-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
        </svg>
        <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-EMAIL" | translate }}</p>
        <p class="lg:text-base md:text-sm" style="font-family: MontserratLGT;">
          corporate@dmmgroup.id<br>
          <span class="invisible">invisible-text</span><br>
          <span class="invisible">invisible-text</span>
        </p>
      
      </div>

      <div class="text-white text-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg>
        <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-CALL-NEW" | translate }}</p>
        <p class="lg:text-base md:text-sm" style="font-family: MontserratLGT;">
          +62 21 27883335<br>
          <span class="invisible">invisible-text</span><br>
          <span class="invisible">invisible-text</span>
        </p>
      
      </div>

      <!-- <div class="text-white text-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg>
        <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-CALL-NEW"  | translate }}</p>
        <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">
          +62 21 27883335<br>
          <span class="invisible">invisible-text</span><br>
          <span class="invisible">invisible-text</span>
        </p>
      </div> -->

    </div>

  </div>

</section>


<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->


<!-- RESPONSIVE MOBILE SCREEN -->
<div class="lg:hidden md:hidden">

  <!-- background -->
  <div class="contactUs-mobile-background">

    <div class="flex flex-col h-full">
      <p class="text-3xl text-white pl-3 pt-10" style="font-family: MontserratBLD;">{{ "CONTACT-US-HEADLINE" | translate }}</p>

      <div class="flex flex-col gap-2 px-3 pt-8" >

        <div class="text-base text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-buildings-fill" viewBox="0 0 16 16">
            <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">PT Digital Mediatama Maxima Tbk.</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">
            Mangkuluhur City Tower One 18th Floor<br>
            Jl. Jend. Gatot Subroto Kav. 1-3 Jakarta<br>
            Selatan, DKI Jakarta 12930 Indonesia
          </p>
        </div>

        <div class="text-base text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-EMAIL" | translate }}</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">corporate@dmmgroup.id</p>
        </div>

        <div class="text-base text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">{{ "CONTACT-US-CALL-NEW" | translate }}</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">+62 21 27883335</p>
        </div>

      </div>

      <!-- <div class="grid grid-rows-3 gap-2 h-full px-3 text-white -translate-y-80">  
        <div class="grid grid-rows-1" style="border: 2px solid red;">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-buildings-fill" viewBox="0 0 16 16">
            <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD;">PT Digital Mediatama Maxima Tbk.</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT;">
            Mangkuluhur City Tower One 18th Floor<br>
            Jl. Jend. Gatot Subroto Kav. 1-3 Jakarta<br>
            Selatan, DKI Jakarta 12930 Indonesia
          </p>
        </div>

        <div class="grid grid-rows-1" style="border: 2px solid red;">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD; transform: translateY(-40px);">{{ "CONTACT-US-EMAIL" | translate }}</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT; transform: translateY(-50px);">corporate@dmmgroup.id</p>
        </div>

        <div class="grid grid-rows-1" style="border: 2px solid red;">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
          <p class="lg:text-xl md:text-lg" style="font-family: MontserratSMBLD; transform: translateY(-40px);">{{ "CONTACT-US-CALL-NEW" | translate }}</p>
          <p class="lg:text-base md:text-sm -translate-y-3" style="font-family: MontserratLGT; transform: translateY(-50px);">+62 21 27883335</p>
        </div>
      </div> -->

    </div>

  </div>

</div>