/* CONTACT US */
@media (min-width: 768px) { /* <--for lg screen */
  .media-query-panel-kiri {
    margin-top: 7%;
  }

  .media-query-panel-kiri-2 {
    margin-top: 3%;
  }

  .media-query-panel-kiri-3 {
    margin-top: -3%;
  }
}



@media (max-width: 1024px) { /* <--for md screen */
  .media-query-panel-kiri {
    margin-top: -2%;
  }

  .media-query-panel-kiri-2 {
    margin-top: 3%;
  }

  .media-query-panel-kiri-3 {
    margin-top: -3%;
  }
}

.btn-cu {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.btn-cu:hover {
  background-color: #FFD731;
  border-color: #FFD731;
}

/* ---------------------------------------------------------------------- */

/* FONT IMPORT */
@font-face {
  font-family: "MontserratBLD";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: "MontserratSMBLD";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: "MontserratBI";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-BoldItalic.otf');
}

@font-face {
  font-family: "MontserratBL";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Black.otf');
}

@font-face {
  font-family: "MontserratREG";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: "MontserratMDM";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Medium.otf');
}

@font-face {
  font-family: "MontserratLGT";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: "MontserratXLGT";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-ExtraLight.otf');
}

@font-face {
  font-family: "MontserratTH";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Thin.otf');
}

/* ---------------------------------------------------------------------- */ 


.hubungi-kami {
  background-image: url("https://dmmrnd.id/img-dmm/contact-us-background.avif");
  width: 100%;
  height: 410px;
  background-repeat: no-repeat;
  background-size: cover;
}




/* ---------------------------------------------------------------------- */ 

/* MEDIA QUERY RESPONSIVE (MOBILE SCREEN) */ 
@media (min-width: 300px) and (max-width: 700px) { 

  .desktop-screen-hidden-if-mobile {
    display: none;
  }

  .mobile-border {
    border: 4px solid red;
  }

  .contactUs-mobile-background {
    background-image: url('https://dmmrnd.id/img-dmm/m-contact-us-bg.avif');
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
  }

}