/* HEADING */
.gradient-text {
  background-image: linear-gradient(100deg, #013A63 0%, #013A63 40%, #0674c3 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-sub {
  background-image: linear-gradient(100deg, #013A63 0%, #013A63 40%, #0674c3 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* BUTTONS */
@media (min-width: 768px) { /* <--for lg screen */
  .minimarket {
    color: #013A63;
    border-color: #013A63;
    width: 145px;
    height: 40px;
    transition: 0.4s;
  }

  .kesehatan {
    color: #013A63;
    border-color: #013A63;
    width: 145px;
    height: 40px;
    transition: 0.4s;
  }

  .fb {
    color: #013A63;
    border-color: #013A63;
    width: 70px;
    height: 40px;
    transition: 0.4s;
  }

  .fashion {
    color: #013A63;
    border-color: #013A63;
    width: 100px;
    height: 40px;
    transition: 0.4s;
  }

  .perusahaan {
    color: #013A63;
    border-color: #013A63;
    width: 145px;
    height: 40px;
    transition: 0.4s;
  }

  .umkm {
    color: #013A63;
    border-color: #013A63;
    width: 90px;
    height: 40px;
    transition: 0.4s;
  }
}

@media (max-width: 1024px) { /* <--for md screen */
  .minimarket {
    color: #013A63;
    border-color: #013A63;
    width: 110px;
    height: 40px;
  }

  .kesehatan {
    color: #013A63;
    border-color: #013A63;
    width: 100px;
    height: 40px;
  }

  .fb {
    color: #013A63;
    border-color: #013A63;
    width: 70px;
    height: 40px;
  }

  .fashion {
    color: #013A63;
    border-color: #013A63;
    width: 100px;
    height: 40px;
  }

  .perusahaan {
    color: #013A63;
    border-color: #013A63;
    width: 145px;
    height: 40px;
  }

  .umkm {
    color: #013A63;
    border-color: #013A63;
    width: 90px;
    height: 40px;
  }
}
  
.minimarket:hover {
  color: white;
  background-color: #013A63;
}
 
.kesehatan:hover {
  color: white;
  background-color: #013A63;
}
    
.fb:hover {
  color: white;
  background-color: #013A63;
}
    
.fashion:hover {
  color: white;
  background-color: #013A63;
}
    
.perusahaan:hover {
  color: white;
  background-color: #013A63;
}
    
.umkm:hover {
  color: white;
  background-color: #013A63;
}


/* TECHNOLOGY PARTNERS */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) { /* <--for lg screen */
  .slider {
    /* width: 1140px; */
    width: 1140px;
    height: 100px;
    position: relative;
    background: white;
    /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2); */
    display: flex;
    overflow: hidden;
    /* margin-top: 50px; */
    margin: auto;
    }
}
@media (max-width: 1024px) { /* <--for md screen */
  .slider {
    /* width: 1140px; */
    width: 800px;
    height: 100px;
    position: relative;
    background: white;
    /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2); */
    display: flex;
    overflow: hidden;
    /* margin-top: 50px; */
    margin: auto;
    }
}

.slide {
height: 100px;
display: flex;
align-items: center;
animation: slideshow 35s linear infinite;
}

.slide img {
height: 48px;
padding: 0 50px 0 50px;
transition: transform 0.5s ease-in-out;
}

.slide img:hover {
transform: scale(1.25);
}

@keyframes slideshow {
0% {transform: translateX(0);}
100% {transform: translateX(-130%);}
}

.slider::before, .slider::after {
height: 100px;
width: 200px;
position: absolute;
content: "";
/* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
z-index: 2;
}

.slider::before {
left: 0;
top: 0;
}

.slider::after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}

/* ---------------------------------------------------------------------- */

/* FONT IMPORT */
@font-face {
  font-family: "MontserratBLD";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: "MontserratSMBLD";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: "MontserratBI";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-BoldItalic.otf');
}

@font-face {
  font-family: "MontserratBL";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Black.otf');
}

@font-face {
  font-family: "MontserratREG";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: "MontserratMDM";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Medium.otf');
}

@font-face {
  font-family: "MontserratLGT";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: "MontserratXLGT";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-ExtraLight.otf');
}

@font-face {
  font-family: "MontserratTH";
  src: url('https://dmmrnd.id/img-dmm/fonts/Montserrat-Thin.otf');
}


/* ---------------------------------------------------------------------- */


.main {
  width: 70%;
  height: 200px;
  margin: 0px auto;
  position: relative;
}

.main li {
  display: inline-block;
}

.content {
  color: white;
  position: absolute;
  left: 0;
  display: none;
  padding: 0px;
}

.main [id^="label"]:checked~.content {
  display: block;
}

.main [id^="label"]:checked + label {
  background-color: #013A63;
  color: white;
  border-radius: 10px;
}

.main input[type="radio"] {
  display: none;
}

.main label {
  padding: 8px 0px;
}

/* ---------------------------------------------------------------------- */

/* MEDIA QUERY RESPONSIVE (MOBILE SCREEN) */  
@media (min-width: 300px) and (max-width: 700px) { 

  .desktop-screen-hidden-if-mobile {
    display: none;
  }

  .mobile-border {
    border: 4px solid red;
  }

  .container-size {
    /* transform: translateY(-50rem); */
    height: 900px;
  }

  .main-mobile {
    width: 100%;
    height: 40px;
    margin: 0px auto;
    position: relative;
  }
  .main-mobile li {
    display: inline-block;
  }
  .content {
    color: white;
    position: absolute;
    left: 0;
    display: none;
    padding: 0px;
  }
  .main-mobile [id^="label"]:checked~.content {
    display: block;
  }
  .main-mobile [id^="label"]:checked + label {
    background-color: #013A63;
    color: white;
    border-radius: 10px;
  }
  .main-mobile input[type="radio"] {
    display: none;
  }
  .main-mobile label {
    padding: 8px 0px;
  }

  .slide-mobile {
    height: 100px; display: flex; align-items: center; padding-top: 5px;
    animation: slideshow 28s linear infinite;
  }

  .btn-selected{
    background-color: #013A63;
    color: white;
  }
  
}