<div class="sektor-industri     desktop-screen-hidden-if-mobile mobile-border">
  <div class="flex flex-col gap-3 mt-28">

    <!-- HEADLINE TEXT -->
    <p class="lg:text-5xl md:text-3xl sm:text-xl text-center gradient-text" style="font-family: MontserratSMBLD; color: #013A63;">{{ "IS-HEADLINE" | translate }}</p>
    <div class="lg:text-base md:text-xs sm:text-xs text-center px-24" style="font-family: MontserratSMBLD; color: #474747;">
      <p>
        {{ "IS-SUBHEADLINE" | translate }}
      </p>
    </div>
  
  
    <!-- CLIENTS -->
    <ul class="flex gap-3 justify-center px-24 main">
      <!-- mini market -->
      <li class="minimarket py-0 px-0 text-center rounded-xl inline-flex" style="border: 1px solid #013A63;">
        <input type="radio" name="tab" id="label-1" checked>
        <label for="label-1" class="lg:text-base md:text-sm h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON1" | translate }}</label>
        
        <!-- content images -->
        <div class="content px-24   mobile-border">
          <div class="flex flex-row gap-1 justify-center" style="margin-top: 30px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-indomaret.webp" alt="Indomaret Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-alfa-mart.webp" alt="Alfa Mart Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-alfa-midi.webp" alt="Alfa Midi Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-family-mart.webp" alt="Family Mart Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-circle-k.webp" alt="Circle K Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-lawson.webp" alt="Lawson Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-idm-point-coffee.webp" alt="IDM Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-k3mart.webp" alt="K3mart Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
          </div>
        </div>
      </li>

      <!-- kesehatan -->
      <li class="kesehatan py-0 px-0 text-center rounded-xl inline-flex" style="border: 1px solid #013A63;">
        <input type="radio" name="tab" id="label-2">
        <label for="label-2" class="lg:text-base md:text-sm h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON2" | translate }}</label>
        
        <!-- content images -->
        <div class="content px-24    mobile-border">
          <div class="flex flex-row gap-1 justify-center" style="margin-top: 30px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/alfa-midi.avif" alt="alfa-midi-logo" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/family-mart.avif" alt="family-mart-logo" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">

            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kimia-farma.webp" alt="Kimia Farma Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mitra-keluarga.webp" alt="Mitra Keluarga Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-optik-seis.webp" alt="Optik Seis Logo" class="mt-2" style="width: 100%; height: 55px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-the-body-shop.webp" alt="The Body Shop Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">

            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/family-mart.avif" alt="family-mart-logo" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/family-mart.avif" alt="family-mart-logo" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
          </div>
        </div>
      </li>

      <!-- fb -->
      <li class="fb py-0 px-0 text-center rounded-xl inline-flex" style="border: 1px solid #013A63;">
        <input type="radio" name="tab" id="label-3">
        <label for="label-3" class="lg:text-base md:text-sm h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON3" | translate }}</label>
        
        <!-- content images -->
        <div class="content px-24    mobile-border">
          <div class="flex flex-row gap-16 justify-center" style="margin-top: 30px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-geprek-bensu.webp" alt="Geprek Bensu Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-hanamaru-udon.webp" alt="Hanamaru Udon Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-hokben.webp" alt="Hokben Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-janji-jiwa.webp" alt="Janji Jiwa Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kfc.webp" alt="KFC Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mcdonalds.webp" alt="MCDonalds Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-salad-point.webp" alt="Salad Point Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-taco-bell.webp" alt="Taco Bell Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kober.webp" alt="Kober Logo" class="rounded-xl lg:py-5 lg:px-0 md:py-2 md:px-0" style="width: 100%; height: 85px;">
          </div>
        </div>
      </li>

      <!-- fashion -->
      <li class="fashion py-0 px-0 text-center rounded-xl inline-flex" style="border: 1px solid #013A63;">
        <input type="radio" name="tab" id="label-4">
        <label for="label-4" class="lg:text-base md:text-sm h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON4" | translate }}</label>
        
        <!-- content images -->
        <div class="content px-24    mobile-border">
          <div class="flex flex-row gap-3 justify-center" style="margin-top: 30px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/alfa-midi.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/family-mart.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">


            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-everbest.webp" alt="Everbest Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-sovlo.webp" alt="Solvo Logo" class="rounded-xl" style="width: 100%; height: 80px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-matahari.webp" alt="Matahari Logo" class="rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2" style="width: 100%; height: 85px;">


            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/circle-k.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lawson.avif" alt="" class=" invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
          </div>
        </div>
      </li>

      <!-- transportasi -->
      <li class="perusahaan py-0 px-0 text-center rounded-xl inline-flex" style="border: 1px solid #013A63;">
        <input type="radio" name="tab" id="label-5">
        <label for="label-5" class="lg:text-base md:text-sm h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON5" | translate }}</label>
        
        <!-- content images -->
        <div class="content px-24    mobile-border">
          <div class="flex flex-row gap-3 justify-center" style="margin-top: 30px; margin-left: 70px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/indomaret.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/alfa-mart.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">


            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-transjakarta.webp" alt="Transjakarta Logo" class="rounded-xl" style="width: 100%; height: 60px;">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-travoy-hub.webp" alt="Travoy Hub Logo" class="rounded-xl" style="width: 100%; height: 60px;">


            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/circle-k.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lawson.avif" alt="" class="invisible rounded-xl lg:py-5 lg:px-3 md:py-2 md:px-2">
          </div>
        </div>
      </li>
    </ul>
  

    <!-- CAROUSEL SLIDER -->
    <div id="default-carousel" class="relative w-full lg:mt-0 md:mt-0 px-40" data-carousel="slide">
      
      <div class="relative overflow-hidden rounded-xl md:h-96" style="height: 600px;">
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-coffee-bean-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-farmers-market-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-farmers-market-2-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-optik-seis-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kfc-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mitra-keluarga-slider-new.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mcd-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-janji-jiwa-slider.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-the-body-shop-slider.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="the body shop slider">
          </div>
      </div>
  
      <!-- BUTTON -->
      <button type="button" class="absolute top-0 start-20 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full">
              <svg class="w-2 h-3 text-black dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="absolute top-0 end-20 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full">
              <svg class="w-2 h-3 text-black dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>
  
    
    <!-- SUB HEADLINE TEXT & SLIDER IMAGES -->
    <p class="lg:text-xl text-center gradient-text-sub" style="margin-top: 20px; font-family: MontserratSMBLD;">{{ "IS-DESC" | translate }}</p>
      
    <div class="slider    mobile-border">
      <div class="slide">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo">

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo">

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo">

        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="amsung-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo">
      </div>
    </div>

  </div> <!--End flex-col-->
</div> <!--End of sektor-industri class-->



<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->


<!-- RESPONSIVE MOBILE SCREEN -->
<div class="lg:hidden md:hidden    container-size">

  
  <!-- <p class="text-lg text-black items-center justify-center text-center pt-10 gradient-text" style="font-family: MontserratSMBLD;">{{ "IS-HEADLINE" | translate }}</p>
  <p class="text-sm text-center px-3" style="font-family: MontserratREG; color: #474747;">
    {{ "IS-SUBHEADLINE" | translate }}
  </p> -->


  <!-- <ul class="grid grid-cols-3 gap-2 px-3 main-mobile">
    
    
    <li class="py-0 px-0 rounded-xl inline-flex text-xs text-black text-center" style="border: 1.5px solid #013A63;">
      <input type="radio" name="tab" id="label-11">
      <label for="label-11" class="h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON1" | translate }}</label>

      <div class="content">
        <div class="grid grid-cols-3 gap-2 justify-center px-3" style="margin-top: 20vw; margin-left: 0px;">
            
            <img src="../../../../../../assets/si-indomaret.png" alt="indomaret-logo" class=" ">
            <img src="../../../../../../assets/si-alfa-mart.png" alt="alfa-mart-logo" class="">
            <img src="../../../../../../assets/si-alfa-midi.png" alt="alfa-midi-logo" class="">
            <img src="../../../../../../assets/si-family-mart.png" alt="family-mart-logo" class="">
            <img src="../../../../../../assets/si-circle-k.png" alt="circle-k-logo" class="">
            <img src="../../../../../../assets/si-lawson.png" alt="lawson-logo" class="">
            <img src="../../../../../../assets/si-idm-point-coffee.png" alt="idm-logo" class="">
            <img src="../../../../../../assets/si-k3mart.jpg" alt="k3mart-logo" class="w-24 h-14">
        </div>
      </div>
    </li>

    
    <li class="py-0 px-0 rounded-xl inline-flex text-xs text-black text-center" style="border: 1.5px solid #013A63;">
      <input type="radio" name="tab" id="label-22">
      <label for="label-22" class="h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON2" | translate }}</label>

      <div class="content">
        <div class="grid grid-cols-3 gap-2 justify-center px-3" style="margin-top: 20vw; margin-left: 0px;">
          <img src="../../../../../../assets/si-kimia-farma.png" alt="indomaret-logo" class="">
          <img src="../../../../../../assets/si-mitra-keluarga.png" alt="alfa-mart-logo" class="">
          <img src="../../../../../../assets/si-optik-seis.png" alt="Optik Seis" class="">
          <img src="../../../../../../assets/si-the-body-shop-new.png" alt="The Body Shop" class="">
        </div>
      </div>
    </li>

    
    <li class="py-0 px-0 rounded-xl inline-flex text-xs text-black text-center" style="border: 1.5px solid #013A63;">
      <input type="radio" name="tab" id="label-33">
      <label for="label-33" class="h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON3" | translate }}</label>

      <div class="content">
        <div class="grid grid-cols-3 gap-2 justify-center px-3" style="margin-top: 20vw;">
            <img src="../../../../../../assets/si-geprek-bensu.png" alt="Geprek Bensu Logo" class="h-14">
            <img src="../../../../../../assets/si-hanamaru-udon.png" alt="Hanamaru Udon Logo" class="h-14">
            <img src="../../../../../../assets/si-hokben.png" alt="Hokben Logo" class="h-14">
            <img src="../../../../../../assets/si-kfc-new.png" alt="KFC Logo" class="h-14" style="border: 2px solid red;">
            <img src="../../../../../../assets/si-mcdonalds.png" alt="mc Donalds Logo" class="h-14">
            <img src="../../../../../../assets/si-salad-point.png" alt="Salad Point" class="h-14">
            <img src="../../../../../../assets/si-taco-bell.png" alt="Taco Bell" class="h-14">
            <img src="../../../../../../assets/si-kober.jpg" alt="Kober" class="h-14">
            <img src="../../../../../../assets/si-janji-jiwa.png" alt="Janji Jiwa Logo" class="h-14">
        </div>
      </div>
    </li>

  </ul> -->

  <!-- <ul class="grid grid-cols-3 gap-2 px-3 main-mobile" style="margin-top: 10px;">
    
    
    <li class="py-0 px-0 rounded-xl inline-flex text-xs text-black text-center" style="border: 1.5px solid #013A63;">
      <input type="radio" name="tab" id="label-44">
      <label for="label-44" class="h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON4" | translate }}</label>

      <div class="content">
        <div class="grid grid-cols-3 gap-2 justify-center px-3" style="margin-top: 5vw; margin-left: 0px;">
          <img src="../../../../../../assets/si-everbest.png" alt="Everbest" class="h-14">
          <img src="../../../../../../assets/solvo-new-2.png" alt="Solvo" class="mt-2">
          <img src="../../../../../../assets/si-matahari.png" alt="Matahari" class="h-14">
        </div>
      </div>
    </li>


    <li class="py-0 px-0 rounded-xl inline-flex text-xs text-black text-center" style="border: 1.5px solid #013A63;">
      <input type="radio" name="tab" id="label-55">
      <label for="label-55" class="h-full w-full" style="font-family: MontserratSMBLD;">{{ "IS-BUTTON5" | translate }}</label>

      <div class="content">
        <div class="grid grid-cols-2 gap-2 justify-center px-3" style="margin-top: 5vw; margin-left: 40px;">
            <img src="../../../../../../assets/si-transjakarta.png" alt="Transjakarta" class="h-14">
            <img src="../../../../../../assets/si-travoy-hub.png" alt="Travoy Hub" class="h-14">
        </div>
      </div>
    </li>

  </ul> -->


<div class="lg:hidden md:hidden container-size">
  <!-- headline text -->
  <p class="text-lg text-black text-center pt-10 gradient-text" style="font-family: MontserratSMBLD;">{{ "IS-HEADLINE" | translate }}</p>
  <p class="text-sm text-center px-3" style="font-family: MontserratREG; color: #474747;">
    {{ "IS-SUBHEADLINE" | translate }}
  </p>

  <!-- buttons -->
  <div class="grid grid-cols-3 px-2 gap-1">
    <button (click)="switchTab('tab-1')" data-tab="tab-1" class="py-1 px-3 rounded-xl  text-base text-center btn-selected" style="border: 2.5px solid #013A63; font-family: MontserratMDM; color: #000;">{{ "IS-BUTTON1" | translate }}</button>
    <button (click)="switchTab('tab-2')" data-tab="tab-2" class="py-2 px-2 rounded-xl  text-base text-center" style="border: 2.5px solid #213A63; font-family: MontserratMDM; color: #000;">{{ "IS-BUTTON2" | translate }}</button>
    <button (click)="switchTab('tab-3')" data-tab="tab-3" class="py-2 px-3 rounded-xl  text-base text-center" style="border: 2.5px solid #213A63; font-family: MontserratMDM; color: #000;">{{ "IS-BUTTON3" | translate }}</button>
    <button (click)="switchTab('tab-4')" data-tab="tab-4" class="py-3 px-3 rounded-xl  text-base text-center" style="border: 2.5px solid #213A63; font-family: MontserratMDM; color: #000;">{{ "IS-BUTTON4" | translate }}</button>
    <button (click)="switchTab('tab-5')" data-tab="tab-5" class="py-3 px-2 rounded-xl  text-base text-center" style="border: 2.5px solid #213A63; font-family: MontserratMDM; color: #000;">{{ "IS-BUTTON5" | translate }}</button>
  </div>

  <div class="grid gap-2 px-3 pt-3 main-mobile">
    <!-- mini market -->
    <div class="tab-content" id="tab-1">
      <div class="grid grid-cols-3 gap-4 px-3">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-indomaret.webp" alt="Indomaret Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-alfa-mart.webp" alt="Alfa Mart Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-alfa-midi.webp" alt="Alfa Midi Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-family-mart.webp" alt="Family Mart Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-circle-k.webp" alt="Circle K Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-lawson.webp" alt="Lawson Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-idm-point-coffee.webp" alt="IDM Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-k3mart.webp" alt="K3mart Logo" class="h-14">
      </div>
    </div>

    <!-- kesehatan -->
    <div class="tab-content hidden" id="tab-2">
      <div class="grid grid-cols-2 gap-4 px-3">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kimia-farma.webp" alt="Kimia Farma Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mitra-keluarga.webp" alt="Mitra Keluarga Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-optik-seis.webp" alt="Optik Seis Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-the-body-shop.webp" alt="The Body Shop Logo" class="h-16 pl-8">
      </div>
    </div>  

    <!-- f&b -->
    <div class="tab-content hidden" id="tab-3">
      <div class="grid grid-cols-5 gap-3 px-2">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-geprek-bensu.webp" alt="Geprek Bensu Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-hanamaru-udon.webp" alt="Hanamaru Udon Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-hokben.webp" alt="Hokben Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kfc.webp" alt="KFC Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mcdonalds.webp" alt="MCDonalds Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-salad-point.webp" alt="Salad Point Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-taco-bell.webp" alt="Taco Bell Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kober.webp" alt="Kober Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-janji-jiwa.webp" alt="Janji Jiwa Logo" class="mt-3">
        
      </div>
    </div>

    <!-- fashion -->
    <div class="tab-content hidden" id="tab-4">
      <div class="grid grid-cols-2 gap-3 px-2">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-everbest.webp" alt="Everbest Logo" class="mt-1">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-matahari.webp" alt="Matahari Logo">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-sovlo-new.png" alt="Solvo Logo">
      </div>
    </div>

    <!-- transportasi -->
    <div class="tab-content hidden" id="tab-5">
      <div class="grid grid-cols-2 gap-4 px-3">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-transjakarta.webp" alt="Transjakarta Logo" class="rounded-xl pt-3">
        <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-travoy-hub.webp" alt="Travoy Hub Logo" class="rounded-xl">
      </div>
    </div>
  </div>


  <!-- CAROUSEL -->
  <div id="default-carousel" class="relative w-full px-3 pt-0" data-carousel="slide">
      
    <div class="relative overflow-hidden" style="height: 600px;">
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-coffee-bean-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl" alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-farmers-market-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl" alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-farmers-market-2-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-optik-seis-slider-new.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-kfc-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mitra-keluarga-slider-new.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-mcd-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-janji-jiwa-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/si-indomaret-slider.avif" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-xl"  alt="...">
        </div>
    </div>

  </div>

  <p class="text-lg text-black items-center justify-center text-center pt-0 gradient-text -translate-y-36" style="font-family: MontserratSMBLD;">{{ "IS-DESC" | translate }}</p>

  <div class="slider-mobile px-0 -translate-y-40" style="width: 100%; height: 60px; position: relative; background: white; display: flex; overflow: hidden; margin: auto;">
    <div class="slide-mobile">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">

      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">

      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">

      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/zkdigimax.avif" alt="zkdigimax-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/lg.avif" alt="lg-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/samsung.avif" alt="samsung-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/boe.avif" alt="boe-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/pyx.avif" alt="pyx-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
      <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/sunmi.avif" alt="sunmi-logo" style="height: 40px; padding-left: 30px; padding-right: 30px; transform: translateY(-20px);">
    </div>
  </div> 

</div>