<div class="our-strength    desktop-screen-hidden-if-mobile mobile-border">
  
  <!-- ABOVE PANEL -->
  <div class="flex flex-col gap-14">

    <!-- HEADLINE TEXT -->
    <div class="lg:text-5xl md:text-3xl sm:text-xl text-white text-center mt-28" style="font-family: MontserratSMBLD;">{{ "OS-HEADLINE" | translate }}</div>

    <!-- grid box content -->
    <div class="grid grid-cols-3 gap-11 px-24 w-full h-full">
    
      <!-- box 1 -->
      <div class="relative p-10 rounded-xl text-left text-white" style="font-family: MontserratSMBLD; height: 406px;">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <div class="flex flex-col gap-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/os-layanan-secara-menyeluruh.avif" alt="Cloud Icon" class="w-16">
          <p class="lg:text-3xl md:text-xl" style="margin-top: 12px;">{{ "OS-BOX1-a" | translate }}</p>
          <p class="lg:text-base" style="font-family: MontserratLGT;">
            {{ "OS-BOX1-b" | translate }}
          </p>
        </div>
      </div>

      <!-- box 2 -->
      <div class="relative p-10 rounded-xl text-left text-white" style="font-family: MontserratSMBLD; height: 406px;">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <div class="flex flex-col gap-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/os_titik-layanan-seluruh-indonesia.avif" alt="Cloud Icon" class="w-16">
          <p class="lg:text-3xl md:text-xl" style="margin-top: 12px;">{{ "OS-BOX2-a" | translate }}</p>
          <p class="lg:text-base" style="font-family: MontserratLGT;">
            {{ "OS-BOX2-b" | translate }}
          </p>
        </div>
      </div>

      <!-- box 3 -->
      <div class="relative p-10 rounded-xl text-left text-white" style="font-family: MontserratSMBLD; height: 406px;">
        <div class="absolute w-full h-full p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        <div class="flex flex-col gap-3">
          <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/os-respon-tanggap.avif" alt="Cloud Icon" class="w-16">
          <p class="lg:text-3xl md:text-xl" style="margin-top: 12px;">{{ "OS-BOX3-a" | translate }}</p>
          <p class="lg:text-base" style="font-family: MontserratLGT;">
            {{ "OS-BOX3-b" | translate }}
          </p>
        </div>
      </div>
    
    </div>
  </div>

  
  <!-- BELOW PANEL -->
  <div class="w-full text-center px-24 mt-14">
    <div class="flex flex-col lg:gap-14 md:gap-20">

      <!-- HEADLINE TEXT -->
      <div class="lg:text-3xl md:text-2xl sm:text-xl text-white" style="font-family: MontserratSMBLD;">{{ "OS-SUBHEADLINE" | translate }}</div>

      <!-- content -->
      <div class="relative col-start-1 col-end-7 px-9 rounded-xl">
        <div class="absolute h-40 p-10 rounded-xl text-left text-white -translate-y-10 -translate-x-10 w-full" style="background-color: #013A63; font-family: MontserratSMBLD; mix-blend-mode: overlay;"></div>
        
        <div class="grid grid-cols-3 gap-4" #numbersContainer>
          <div class="lg:text-4xl text-white" style="font-family: MontserratSMBLD;">
            {{ count1 | number }}<br>
            <span class="text-base" style="font-family: MontserratLGT;">{{ "OS-STATISTICS-1" | translate }}</span>
          </div>
          <div class="lg:text-4xl text-white" style="font-family: MontserratSMBLD;">
            {{ count2 | number }}<br>
            <span class="text-base" style="font-family: MontserratLGT;">{{ "OS-STATISTICS-2" | translate }}</span>
          </div>
          <div class="lg:text-4xl text-white" style="font-family: MontserratSMBLD;">
            {{ count3 | number }}<br>
            <span class="text-base" style="font-family: MontserratLGT;">{{ "OS-STATISTICS-3" | translate }}</span>
          </div>
        </div>
        
      </div>

      <!-- desc text -->
      <div class="lg:text-base text-white" style="font-family: MontserratREG;">
        {{ "OS-STATISTICS-DESC" | translate }}
      </div>
    </div>

    <!-- button -->
    <a href="/about-us">  
      <button class="py-1 px-1 w-48 h-12 mt-10 rounded-lg btn-os">
        <span class="text-base" style="font-family: MontserratMDM;">{{ "OS-BUTTON" | translate }}</span>
      </button>
    </a>

  </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->

<!-- RESPONSIVE MOBILE SCREEN -->
<div class="lg:hidden md:hidden     our-strength-background-container">
  <div class="our-strength-background">

    
    <p class="text-lg text-white items-center justify-center text-center pt-10" style="font-family: MontserratSMBLD;">{{ "OS-HEADLINE" | translate }}</p>

    
    <div class="grid grid-rows-3 gap-2.5 px-3 pt-2 items-center justify-center">

      <!-- box 1 -->
      <div class="relative col-span-1 text-white w-80 h-40">
        <div class="absolute w-full h-full rounded-xl -translate-y-0 translate-x-0" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
        
        <div class="flex gap-3 py-3 px-2 translate-x-0 h-full w-full">
          <div class="flex-none">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/os-layanan-secara-menyeluruh.avif" alt="Icon" class="w-10">
          </div>
        
          <div class="flex-1">
            <p class="text-base" style="font-family: MontserratSMBLD;">
              {{ "OS-BOX1-a" | translate }}<br>
              <span class="text-sm" style="font-family: MontserratREG;">{{ "OS-BOX1-b" | translate }}</span>
            </p>
          </div>
        </div>
      </div>

      <!-- box 2 -->
      <div class="relative col-span-1 text-white p-0 w-80 h-40">
        <div class="absolute w-full h-full rounded-xl -translate-y-0 translate-x-0" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
        
        <div class="flex gap-3 p-2 translate-x-0 h-full w-full">
          <div class="flex-none">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/os_titik-layanan-seluruh-indonesia.avif" alt="Icon" class="w-10">
          </div>
        
          <div class="flex-1">
            <p class="text-base" style="font-family: MontserratSMBLD;">
              {{ "OS-BOX2-a" | translate }}<br>
              <span class="text-sm" style="font-family: MontserratREG;">{{ "OS-BOX2-b" | translate }}</span>
            </p>
          </div>
        </div>
      </div>

      <!-- box 3 -->
      <div class="relative col-span-1 text-white p-0 w-80 h-40">
        <div class="absolute w-full h-full rounded-xl -translate-y-0 translate-x-0" style="background-color: #013A63; mix-blend-mode: overlay;"></div>
        
        <div class="flex gap-3 py-3 px-2 translate-x-0 h-full w-full">
          <div class="flex-none">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/os-respon-tanggap.avif" alt="Icon" class="w-10">
          </div>
        
          <div class="flex-1">
            <p class="text-base" style="font-family: MontserratSMBLD;">
              {{ "OS-BOX3-a" | translate }}<br>
              <span class="text-sm" style="font-family: MontserratREG;">{{ "OS-BOX3-b" | translate }}</span>
            </p>
          </div>
        </div>
      </div>
      
    </div> 


    
    <p class="text-lg text-white items-center justify-center text-center pt-10" style="font-family: MontserratSMBLD;">{{ "OS-SUBHEADLINE" | translate }}</p>

    
    <div class="flex flex-col relative pt-0 w-10/12 h-96 py-0 rounded-xl text-white text-center" style="margin: 0 auto;">

      <!-- <div class=" "> -->
        <div class="absolute w-full h-full rounded-xl -translate-y-0" style="background-color: #013A63; mix-blend-mode: overlay;"></div>

        <div #numbersContainer2>
          <p class="text-3xl pt-4" style="font-family: MontserratSMBLD;">{{ count1 | number }}</p>
          <p class="text-sm" style="font-family: MontserratREG;">{{ "OS-STATISTICS-1" | translate }}</p>

          <p class="text-lg" style="font-family: MontserratREG;">______________</p>

          <p class="text-3xl pt-2" style="font-family: MontserratSMBLD;">{{ count2 | number }}</p>
          <p class="text-sm" style="font-family: MontserratREG;">{{ "OS-STATISTICS-2" | translate }}</p>

          <p class="text-lg" style="font-family: MontserratREG;">______________</p>

          <p class="text-3xl pt-2" style="font-family: MontserratSMBLD;">{{ count3 | number }}</p>
          <p class="text-sm" style="font-family: MontserratREG;">{{ "OS-STATISTICS-3" | translate }}</p>
        </div>
      <!-- </div> -->

    </div>

    <p class="text-sm text-white items-center justify-center text-center px-3 pt-4" style="font-family: MontserratREG;">
      {{ "OS-STATISTICS-DESC" | translate }}
    </p>

    <a href="/about-us" class="flex justify-center items-center">
      <button class="h-12 mt-2 rounded-lg btn-os-mobile">
        <span class="text-sm" style="font-family: MontserratMDM;">{{ "OS-BUTTON" | translate }}</span>
      </button>
    </a>

  </div> 

</div>





   