.buttons {
  color: white;
}
.buttons:hover {
  background-color: white;
  color: #013A63;
}


::ng-deep .mdc-tab.mdc-tab--active {
  background-color: white !important;
}
::ng-deep .mdc-tab {
  background-color: #013A63 !important;
}

/* ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: black;
  background-color: green;
} */

.my-custom-class {
  color: white;
}



/* ---------------------------------------------------------------------- */
 
/* FONT IMPORT */
@font-face {
    font-family: "MontserratBLD";
    src: url('../../../../assets/fonts/Montserrat-Bold.otf');
  }
  
  @font-face {
    font-family: "MontserratSMBLD";
    src: url('../../../../assets/fonts/Montserrat-SemiBold.otf');
  }
  
  @font-face {
    font-family: "MontserratBI";
    src: url('../../../../assets/fonts/Montserrat-BoldItalic.otf');
  }
  
  @font-face {
    font-family: "MontserratBL";
    src: url('../../../../assets/fonts/Montserrat-Black.otf');
  }
  
  @font-face {
    font-family: "MontserratREG";
    src: url('../../../../assets/fonts/Montserrat-Regular.otf');
  }
  
  @font-face {
    font-family: "MontserratMDM";
    src: url('../../../../assets/fonts/Montserrat-Medium.otf');
  }
  
  @font-face {
    font-family: "MontserratLGT";
    src: url('../../../../assets/fonts/Montserrat-Light.otf');
  }
  
  @font-face {
    font-family: "MontserratXLGT";
    src: url('../../../../assets/fonts/Montserrat-ExtraLight.otf');
  }
  
  @font-face {
    font-family: "MontserratTH";
    src: url('../../../../assets/fonts/Montserrat-Thin.otf');
  }
  

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */


/* MEDIA QUERY RESPONSIVE (MOBILE SCREEN) */
@media (min-width: 300px) and (max-width: 700px) { 

  .desktop-screen-hidden-if-mobile {
    display: none;
  }

  .mobile-border {
    border: 4px solid red;
  }

}