<div class="engagement-platform-solution max-w-full        mobile-background-height mobile-border">

  <div class="lg:px-24    justify-center h-full    px-3">
    <div class="flex flex-col lg:gap-5 md:gap-2    gap-2">

      <!-- HEADLINE TEXT -->
      <div class="lg:text-5xl lg:mt-16 md:text-3xl md:mt-11    text-center text-white     text-lg pt-10" style="font-family: MontserratSMBLD;">{{ "EPS-HEADLINE" | translate }}</div>
      <div class="lg:text-base lg:px-24 md:text-sm    text-center text-white    text-sm" style="font-family: MontserratLGT;">
        {{ "EPS-SUBHEADLINE" | translate }}
      </div>


      <div class="desktop-screen-hidden-if-mobile  mobile-border"> 

        <!-- CAROUSEL SLIDER -->
        <div id="controls-carousel" class="relative w-full" data-carousel="static">
          <div class="relative overflow-hidden media-query-slider">
            
            <!-- digimaxads -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
              <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/digimaxads-image.avif" class="absolute block w-full h-5/6 -translate-x-1/2 -translate-y-2/3 top-1/2 left-1/2" alt="DigimaxAds Image">
              
              <div class="w-full rounded-xl media-query-sliderBar">
                <div class="flex flex-row px-8 lg:gap-9 md:gap-5">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/digimaxads-logo.avif" alt="Digimaxads Logo" class="media-query-logo" style="width: 100px; height: 100px;">

                  <div class="lg:text-3xl md:text-xl py-4" style="font-family: MontserratSMBLD; color: #013A63;">
                    Digimaxads<br>
                    <p class="lg:text-base md:text-sm" style="font-family: MontserratREG; color: #949494;">{{ "EPS-BOX1" | translate }}</p>
                  </div>

                  <a href="https://digimaxads.id" target="_blank">
                    <button class="btn-grad lg:text-base md:text-xs py-2 px-2 h-12 lg:w-44 md:w-36 mt-12 rounded-lg media-query-button" style="font-family: MontserratMDM;">
                      {{ "ESP-BUTTONS" | translate }}
                    </button>
                  </a>

                </div>
              </div>
            </div>
            
            <!-- bumilangit -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/bumilangit-new.avif" class="absolute block w-4/5 h-5/6 -translate-x-1/2 -translate-y-2/3 top-1/2 left-1/2" alt="Bumilangit Image">
              
              <div class="w-full rounded-xl media-query-sliderBar">
                <div class="flex flex-row px-8 lg:gap-9 md:gap-5">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/bumilangit-logo.avif" alt="Bumilangit Logo" class="media-query-logo" style="width: 100px; height: 100px;">

                  <div class="lg:text-3xl md:text-xl py-3" style="font-family: MontserratSMBLD; color: #013A63;">
                    Bumilangit Digital Mediatama<br>
                    <p class="lg:text-base md:text-sm" style="font-family: MontserratREG; color: #949494;">{{ "EPS-BOX2" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- clode the door -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/ctd-image.avif" class="absolute block w-full h-5/6 -translate-x-1/2 -translate-y-2/3 top-1/2 left-1/2" alt="Closethedoor Image">
              
              <div class="w-full rounded-xl media-query-sliderBar">
                <div class="flex flex-row px-8 lg:gap-9 md:gap-5">
                  <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/ctd-logo.avif" alt="Close The Door Logo" class="media-query-logo" style="width: 100px; height: 100px;">

                  <div class="lg:text-3xl md:text-xl py-3" style="font-family: MontserratSMBLD; color: #013A63;">
                    Close The Door<br>
                    <p class="lg:text-sm md:text-sm" style="font-family: MontserratREG; color: #949494;">{{ "EPS-BOX3" | translate }}</p>
                  </div>

                  <a href="https://closethedoor.com" target="_blank">
                    <button class="btn-grad lg:text-base md:text-xs py-2 px-2 h-12 lg:w-44 md:w-36 mt-12 rounded-lg media-query-button" style="font-family: MontserratMDM;">
                      {{ "ESP-BUTTONS" | translate }}
                    </button>
                  </a>

                </div>
              </div>

          </div>          
        </div>
          
        <!-- CAROUSEL BUTTON -->
        <button type="button" class="absolute top-56 start-14 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-56 end-14 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>

      </div>

    </div> <!--flex end-->
  </div> <!--justify parent end-->
</div> <!--engagement-platform-solution end-->



<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->


<!-- RESPONSIVE MOBILE SCREEN -->
<div class="lg:hidden md:hidden  -translate-y-96">
  
  <!-- CAROUSEL SLIDER -->
  <div id="controls-carousel" class="relative w-full" data-carousel="static">
    <div class="relative overflow-hidden media-query-slider">
      
      <!-- digimaxads -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        
        <div class="w-full rounded-xl media-query-sliderBar-mobile">
          <div class="flex flex-col px-3 py-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/digimaxads-logo.avif" alt="Digimaxads Logo" class="media-query-logo" style="width: 70px; height: 70px;">

            <div class="text-base" style="font-family: MontserratSMBLD; color: #013A63;">
              Digimaxads<br>
              <p class="text-sm" style="font-family: MontserratREG; color: #949494;">{{ "EPS-BOX1" | translate}}</p>
            </div>

            <a href="https://digimaxads.id" target="_blank">
              <button class="text-xs py-0 px-2 h-10 rounded-lg media-query-button-mobile btn-grad" style="font-family: MontserratMDM;">
                {{ "ESP-BUTTONS" | translate }}
              </button>
            </a>

          </div>
        </div>
      </div>
      
      <!-- bumilangit -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        
        <div class="w-full rounded-xl media-query-sliderBar-mobile">
          <div class="flex flex-col px-3 py-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/bumilangit-logo.avif" alt="Bumilangit Logo" class="media-query-logo" style="width: 70px; height: 70px;">

            <div class="text-base" style="font-family: MontserratSMBLD; color: #013A63;">
              Bumilangit Digital<br>
              <p class="text-sm" style="font-family: MontserratREG; color: #949494;">{{ "EPS-BOX2" | translate}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- clode the door -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        
        <div class="w-full rounded-xl media-query-sliderBar-mobile">
          <div class="flex flex-col px-3 py-2">
            <img ngOptimizedImage loading="lazy" src="https://dmmrnd.id/img-dmm/ctd-logo.avif" alt="Close The Door Logo" class="media-query-logo" style="width: 70px; height: 70px;">

            <div class="text-base" style="font-family: MontserratSMBLD; color: #013A63;">
              Close The Door<br>
              <p class="text-sm" style="font-family: MontserratREG; color: #949494;">{{ "EPS-BOX3" | translate}}</p>
            </div>

            <a href="https://closethedoor.com" target="_blank">
              <button class="text-xs py-0 px-2 h-10 rounded-lg media-query-button-mobile btn-grad" style="font-family: MontserratMDM;">
                {{ "ESP-BUTTONS" | translate }}
              </button>
            </a>

          </div>
        </div>

    </div>          
  </div>

  <!-- CAROUSEL BUTTON -->
  <button type="button" class="absolute top-44 start-1 z-30 flex  justify-center px-0 cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button" class="absolute top-44 end-1 z-30 flex  justify-center px-0 cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
    </span>
  </button>


</div>